body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4e5d4;
  color: #4a2f0b;
  height: 100%;
  width: 100vw ;
}
.pagina {
  display: flex;
 flex-direction: column;
min-height: 100vh;
}

.container {
 width: 100%;
 height: 100%;
 background-color: #d99951;
 padding: 0;
 flex: 1;
}

header {
  background-color: #6b3f0e;
  color: #d99951; 
  text-align: center;
  padding: 1px 0;
  font-size: 15px;
  width: 100%;
}

.estante {
    background-image:url('img/fundoimagem.png');
  height: 60px;
  background-size: cover;
}

.perfil {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

.foto-perfil img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 20px;
}

.dados, .favorito {
  flex: 1;
  margin:  20px;
  background-color: #6b3f0e;
  padding: 10px;
  border-radius: 20px;

}

.dados h2, .favorito h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color:  #d99951;
  
}

input {
  display: block;
  width: 50%;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin: 5px 5px 0 0;
  padding: 8px 16px;
  background-color: #d99951;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.salvar {
  background-color: #d99951;
}

.favorito img {
  width: 100px;
  margin:  0;
  padding: 10px;
 
}

.titulo {
  font-weight: bold;
  margin-top: 10px;
  color:  #d99951;
}

.estrelas {
  color: gold;
}

.baixados {
  background-color: #6b3f0e;
  color: #d99951;
  margin: 20px auto;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.baixados span {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: 5px;
}

footer {
  background-color: #6b3f0e;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
  color: #ce9a5f;
  text-align: center; 
  align-items: center; 
  gap: 50px;
  flex-wrap: wrap;
}
footer a {
  color: #ce9a5f;
}